@import './variables';

.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: row;

  &__header {
    display: flex;
    flex: 1;
    height: 85px;
    box-sizing: border-box;
    align-items: top;
    padding: 16px;
    position: relative;
    border-bottom: 1px solid $black;

    h3 {
      margin: 0;
      padding: 0;
      flex: 1;
    }

    a {
      color: $black;
      text-decoration: none;
      opacity: 0.45;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 12px;

      &:hover {
        color: $blue;
      }
    }

    &--breadcrumb {
      position: absolute;
      bottom: 5px;
    }
  }

  &__body {
    flex: 1;
    margin-left: 100px;
    overflow-x: hidden;
    overflow-y: auto;

    &--padded {
      padding: 16px;
    }
  }

  &__sidebar {
    box-sizing: border-box;
    flex: 1;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    display: flex;
    flex: 1;
    position: absolute;
    top: 85px;
    left: 100px;
    right: 0;
    bottom: 0;
    overflow: hidden;
    overflow-y: auto;

    &--left {
      flex: 2;
      border-right: 1px solid $black;
    }

    &--right {
      flex: 4;
    }
  }
}
