// Layout Measurements
$layout--sidebar-width: 256px;

// Colors
$black: #323232;
$blue: #19A3F4;
$red: red;
$mid-blue: #138CDE;
$dark-blue: #1b1f2a;

$inner-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
