@import '../../../../styles/core/variables';

.product-card {
  text-decoration: none;
  width: 33.33%;
  height: 200px;
  color: $black;
  padding: 1rem;
  box-sizing: border-box;

  &--inner {
    height: 100%;
    box-sizing: border-box;
  }

  &__image {
    flex: 0.5;
    text-align: center;
    padding: 5px;

    img {
      border: 1px solid $black;
      max-width: 100%;
    }
  }
}
