html,
body {
  background-color: white;
  color: black;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial';
  font-weight: 300;
  height: 100vh;
}

a {
  color: white;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}
