html,
body {
  background-color: white;
  color: black;
  font-family: 'Proxima Nova', 'Helvetica', 'Arial';
  font-weight: 300;
  height: 100vh;
}

a {
  color: white;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.clickable {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

strong {
  text-transform: uppercase;
  letter-spacing: 1.15;
  font-weight: 600;
  font-size: 1.35rem;
}
