@import './variables';

.layout {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  flex-direction: row;

  &__header {
    display: flex;
    flex: 1;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid $black;

    h2 {
      margin: 0;
      padding: 0;
      flex: 1;
    }
  }

  &__body {
    flex: 1;
  }

  &__sidebar {
    box-sizing: border-box;
    flex: 1;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    border-right: 1px solid $black;
  }

  &__content {
    display: flex;
    flex: 1;
    position: absolute;
    top: 85px;
    left: 100px;
    right: 0;
    bottom: 0;

    &--left {
      flex: 2;
      border-right: 1px solid $black;
    }

    &--right {
      flex: 4;
    }
  }
}
