@import '../core/variables';

.loading-panel {
  background-color: $blue;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: all 200ms;
  z-index: 1;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  img {
    position: relative;
    top: -15%;
  }
}
