.marker-label,
.marker-icon {
  z-index: 99;
  position: absolute;
  display: block;
  margin-top: -50px;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  font-size: 30px !important;
  text-align: center;
  color: #FFFFFF;
  white-space: nowrap;
}
