.media-object {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  &--top {
    align-items: flex-start;
  }

  &__title {
    font-size: 18px;
  }

  &__figure {
    flex: 0.2;
    text-align: center;
    justify-content: center;
  }

  &__body {
    flex: 1;
    padding: 2rem;
  }

  &__expanded {
    overflow: hidden;
    height: auto;
    max-height: 0;
    transition: all 300ms ease;
    padding: 0 16px;

    &--visible {
      max-height: 350px;
      padding: 16px;
    }

    .media-object__body {
      padding: 0 0 8px;
    }
  }
}
