@import '../core/variables';

.search-list {
  max-width: 100%;
  position: relative;

  &__input {
    color: black;
    flex: 0.75;
    display: flex;
    text-align: right;
    margin: 0;
    border: 1px solid $black;

    input {
      margin: 0;
      border: 0;
      padding: 0 16px;
      flex: 3;
      border-radius: 0;

      &:focus,
      &:active {
        outline: none;
        border: 0;
      }
    }

    button {
      margin: 0;
      border: 0;
      padding: 0 16px;
      flex: 1;
      border-left: 1px solid $black;
      background-color: $blue;
      border-radius: 0;
      color: white;

      &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    &--item {
      margin: 0;
      font-size: 18px;
      border-bottom: 1px solid $black * 1.15;
      background-color: white;
      transition: background-color 100ms;

      &:hover {
        cursor: pointer;
        background-color: $blue;
        border-bottom: 1px solid $black;

        .media-object__body {
          color: white;
        }
      }

      .icon {
        font-size: 32px;
        line-height: 1;
      }

      .media-object__figure {
        align-items: top;
      }
    }
  }
}
