@import '../core/variables';

.search-list {
  max-width: 100%;
  position: relative;

  a {
    color: black;
  }

  &__input {
    color: black;
    flex: 0.75;
    display: flex;
    text-align: right;
    margin: 0;
    border: 1px solid $black;

    input {
      margin: 0;
      border: 0;
      padding: 0 16px;
      flex: 3;
      border-radius: 0;

      &:focus,
      &:active {
        outline: none;
        border: 0;
      }
    }

    button {
      margin: 0;
      border: 0;
      padding: 0 16px;
      flex: 1;
      border-left: 1px solid $black;
      background-color: $blue;
      border-radius: 0;
      padding: 0;
      color: white;

      &:active {
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    // Note the nasty CSS trickery trying to hide the
    // border when collapsed
    &--item {
      margin: 0;
      font-size: 18px;
      background-color: white;
      transition: all 100ms;

      .media-object__expanded {
        border-top: 1px solid white;
        border-bottom: 1px solid $black * 1.15;
        background-color: white;
      }

      &:hover,
      &--expanded {
        background-color: $blue;

        .media-object__body,
        .media-object__figure {
          color: white;
        }

        .media-object__expanded {
          border-top: 1px solid $blue;
        }

        .media-object__expanded .media-object__body {
          color: black;
        }
      }

      .media-object__expanded--visible {
        border-top: 1px solid $black * 1.15 !important;
      }

      .media-object__figure {
        align-items: top;
      }

      ul {
        font-size: 1.5rem;
        margin: 1.5rem;
        list-style-type: none;

        li {
          margin: 0;
        }
      }
    }
  }
}
